<div class="container">
    <form [formGroup]="authForm" class="form" (ngSubmit)="onSubmit()">
        <span class="title">{{ isLoginMode ? 'Log In Now' : 'Sign Up Now'}}</span>
        <div class="form__group">
            <label for="email" class="form__label">Email</label>
            <input type="email" id="email" formControlName="email" class="form__input">
            <app-print-validation-error [control]="authForm.get('email')"></app-print-validation-error>
        </div>
        <div class="form__group">
            <label for="password" class="form__label">Password</label>
            <input type="password" id="password" formControlName="password" class="form__input">
            <app-print-validation-error [control]="authForm.get('password')"></app-print-validation-error>
        </div>
        <button type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Log In' : 'Sign Up' }}</button>
        <div>
            <span class="signup-text">{{ isLoginMode ? "Don't have an account?" : 'Already have an account?'}}</span>
            <button class="signup-button" (click)="onSwitchMode()" type="button">{{ isLoginMode ? 'Sign Up' : 'Log In' }}</button>
        </div>
    </form>
</div>