<div *ngIf="pokemon" class="pokemon-details">
    <div class="pokemon-details__specie-info">
        <span class="pokemon-name">{{ pokemon.getCapitalizedName() }}</span>
        <span class="pokemon-type">{{ pokemon.getUpperCaseType() }}</span>
        <span class="pokemon-ability">{{ pokemon.getCapitalizedAbility() }}</span>
    </div>
    <div class="pokemon-details__attributes-info">
        <div class="stars">
            <i class='bx bxs-star'></i>
            <span>{{ pokemon.height }}</span>
        </div>
        <button class="shaded-button save-item_button">Save Item</button>
        <span>{{ pokemon.getReviews() }}</span>
    </div>
</div>