<div class="cards-container">
    <app-card [height]="'150px'" [width]="'400px'">
        <div *ngIf="pokemon" class="name-card__content">
            <img [src]="pokemon.frontImage" alt="front image of the pokemon">
            <span *ngIf="pokemon">{{ pokemon.getFullName() }}</span>
            <i class="fa-sharp fa-solid fa-circle-play"></i>
        </div>
    </app-card>
    <app-card [height]="'200px'" [width]="'400px'" class="attributes-card">
        <div *ngIf="pokemon" class="attributes-card__content">
            <div class="attributes-card__header">
                <span class="card-header-title">INFORMATIONS</span>
                <i class="fa-solid fa-ellipsis-vertical dot-icon"></i>
            </div>
            <div class="attributes-card__attribute-cell">
                <span class="title">LENGHT</span>
                <span class="value"><b>{{ pokemon.height }}</b> m</span>
            </div>
            <div class="attributes-card__attribute-cell">
                <span class="title">AGE</span>
                <span class="value"><b>{{ pokemon.getAge() }}</b> month</span>
            </div>
            <div class="attributes-card__bid">
                <i class='bx bx-info-square'></i>
                <span class="title">Highest Bid</span>
                <span class="price">{{ pokemon.getPrice() }}</span>
                <span class="legend">You can bid bigger than this number</span>
            </div>
            <div class="attributes-card__attribute-cell">
                <span class="title">GENDER</span>
                <b class="value">Male</b>
            </div>
            <div class="attributes-card__attribute-cell">
                <span class="title">TIME LEFT</span>
                <progress max="10" value="7" class="progress-bar"></progress>
                <b class="value value--small">21hr left</b>
            </div>
        </div>
    </app-card>
    <app-card [height]="'370px'" [width]="'200px'" class="auction-card">
        <div *ngIf="pokemon" class="auction-card-content">
            <div class="auction-card__header">
                <div class="title-container">
                    <span class="card-header-title">AUCTION</span>
                </div>
                <i class="fa-solid fa-ellipsis-vertical icon dot-icon"></i>
            </div>
            <img [src]="pokemon.backImage" alt="back image of the pokemon">
            <input type="text" name="currency-field" class="actuion-card__auction-input" value=""
                data-type="currency" placeholder="$250.00" maxlength="13" />
            <button class="shaded-button actuion-card__bid-button">Place Bid</button>
        </div>
    </app-card>
</div>
