<div class="container">
    <p-dropdown *ngIf="pokemon" [options]="pokemons" [(ngModel)]="selectedPokemon" optionLabel="name" [filter]="true"
        filterBy="name" (onChange)="onChangePokemon($event)">
        <ng-template pTemplate="selectedItem">
            <span *ngIf="selectedPokemon && pokemon">{{ getCapitalizedName(selectedPokemon.name) }}</span>
        </ng-template>
        <ng-template let-pokemon pTemplate="item">
            <span *ngIf="pokemon">{{ getCapitalizedName(pokemon.name) }}</span>
        </ng-template>
    </p-dropdown>
    <img *ngIf="pokemon" [src]="pokemon.frontImage" alt="front image of the pokemon">
    <app-card [height]="'200px'" [width]="'400px'">
        <div *ngIf="pokemon" class="information-card__content">
            <span class="card-header-title">INFORMATION</span>
            <div class="information-card__attribute-cell">
                <span class="title">NAME</span>
                <span class="value">{{ pokemon.getCapitalizedName() }}</span>
            </div>
            <div class="information-card__attribute-cell">
                <span class="title">TYPE</span>
                <span class="value">{{ pokemon.getCapitalizedType() }}</span>
            </div>
            <div class="information-card__attribute-cell">
                <span class="title">HEIGHT</span>
                <span class="value">{{ pokemon.height }} dm</span>
            </div>
            <div class="information-card__attribute-cell">
                <span class="title">WEIGHT</span>
                <span class="value">{{ pokemon.weight }} hg</span>
            </div>
            <div class="information-card__attribute-cell">
                <span class="title">ABILITY</span>
                <span class="value">{{ pokemon.getCapitalizedAbility() }}</span>
            </div>
            <div class="information-card__attribute-cell">
                <span class="title">BASE EXPERIENCE</span>
                <span class="value">{{ pokemon.baseExperience }} xp</span>
            </div>
        </div>
    </app-card>
</div>