.pokemon-details {
    height: 100px;
    width: 100%;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-details__specie-info {
    height: 100%;
    min-width: fit-content;
    display: grid;
    justify-items: start;
    align-items: center;
    padding-left: 30px;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: 50px 30px;
}

.pokemon-details__specie-info .pokemon-name {
    grid-column: span 3;
    font-size: 30px;
    white-space: nowrap;
    font-weight: bold;
    color: #253262;
}

.pokemon-details__specie-info .pokemon-type {
    width: fit-content;
    height: fit-content;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: bold;
    color: #4a91fd;
    white-space: nowrap;
    border-radius: 30px;
    background-color: #d8e4fb;
}

.pokemon-details__specie-info .pokemon-ability {
    padding-left: 10px;
    padding-bottom: 1px;
    font-size: 13px;
    white-space: nowrap;
    color: #a0a4bc;
}

.pokemon-details__attributes-info {
    height: 100%;
    min-width: fit-content;
    display: grid;
    justify-items: start;
    align-items: center;
    padding-right: 30px;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: 50px 30px;
}

.pokemon-details__attributes-info .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.pokemon-details__attributes-info .stars i {
    color: #fcc500;
    font-size: 22px;
}

.pokemon-details__attributes-info .stars span {
    color: #253262;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.save-item_button {
    margin-left: 20px;
}

.shaded-button {
    color: white;
    background-color: #277dff;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px 18px;
    box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, .1);
}

.pokemon-details__attributes-info span {
    font-size: 13px;
    white-space: nowrap;
    color: #a0a4bc;
    padding-bottom: 1px;
}