<div class="side-list">
    <div class="side-list__header">
        <span>Others Pokemon</span>
        <button>See All</button>
    </div>
    <div class="preview-cards-container">
        <!-- <div class="card pokemon-preview-card">
            <div class="pokemon-preview-card__img-container">
                <img>
            </div>
            <span class="pokemon-name"></span>
            <span>2 hours ago</span>
        </div>
        <div class="card pokemon-preview-card">
            <div class="pokemon-preview-card__img-container">
                <img>
            </div>
            <span class="pokemon-name"></span>
            <span>2 hours ago</span>
        </div>
        <div class="card pokemon-preview-card">
            <div class="pokemon-preview-card__img-container">
                <img>
            </div>
            <span class="pokemon-name"></span>
            <span>2 hours ago</span>
        </div> -->
    </div>
</div>
